/EPO_1/Epo_1/Epo_1/bin/
/EPO_1/Epo_1/TestBill/bin/
/Epo_2/Epo_2/bin/
/Epo_2/Tests/bin/
/Epo_3/Epo_3/bin/
/Epo_3/Tests/bin/
/Epo_4/Epo_4/bin/
/Epo_4/Tests/bin/
/Epo_5/Epo_5/bin/
/Epo_5/Tests/bin/
/Epo_6/Epo_6/bin/
/Epo_6/Tests/bin/
/Epo_7/MainClassLibrary/MainClassLibrary/bin/
/Epo_7/MainClassLibrary/MainConsoleApp/bin/
/Epo_7/MainClassLibrary/MainForm/bin/
/Epo_7/MainClassLibrary/Tests/bin/
/КПО_8/Kpo_8/Kpo_8/bin/
/КПО_8/Kpo_8/Tests/bin/